project:
  type: website
  output-dir: docs
website:
  title: "HonestCode"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/alxwen711
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



